@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");

html, body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #000000;
  color: #0f0e0e;
  margin: 0px;
  background-image: url("../img/bags.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

h1 {
  font-family: "Playfair Display", serif;
  padding: 10px 20px 12px 20px;
  margin: 0px;
  color: #050505;
}

h2 {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
}

p {
  padding: 6px 20px 6px 20px;
  margin: 0px;
}

table {
  background-color: #000000;
  margin: 10px;
  padding: 5px;
  border: 1px solid #020202;
  border-spacing: 0px;
}
  
th {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  padding: 5px 10px;
  background-color: #0d0c0c;
  color: #0e0b0b;
}
  
td {
  padding: 5px 10px;
}

a {
  color: #0f0f0e;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

nav {
  padding: 0.5em;
  background-color: #ffffff;
}

nav a {
  text-transform: uppercase;
  padding: .5em;
}
nav a:hover {
  color: #100101;
}
 
.button {
  background-color: #ffffff;
  color: #0c0c0c;
  border-color: #0c0c0c;
  border-radius: 300px;
  -webkit-transition: .3s background-color linear;
  -moz-transition: .3s background-color linear;
  -o-transition: .3s background-color linear;
  transition: .3s background-color linear;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fffdf9;
  border-radius: 300px;
  -webkit-transition: .1s background-color linear;
  -moz-transition: .1s background-color linear;
  -o-transition: .1s background-color linear;
  transition: .1s background-color linear;
  color: #f5f1f1;
}
  
.offer {
  text-transform: uppercase;  
}

footer {
  background-color: #090809;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}